<h1>Makers Academy</h1>
<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      tag: <%= link.tags.map(&:tag) %>
    </li>
    <% end %>
</ul>
